# Archigos: 世界政治リーダーDB

http://ksgleditsch.com/archigos.html

In [1]:
import pandas as pd
import codecs

## データファイルの読み込み

In [2]:
with codecs.open("archigos.csv",mode ="r", encoding= "cp932",errors="ignore") as file:
    df1 = pd.read_table(file, delimiter="\t")
df1.head()

,obsid,leadid,ccode,idacr,leader,startdate,enddate,entry,exit,exitcode,...,yrdied,borndate,deathdate,dbpedia.uri,num.entry,num.exit,num.exitcode,num.posttenurefate,fties,ftcur
0,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1869-03-04,1869-12-31,Regular,(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,0,.,.,.,NaN,NaN
1,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1870-01-01,1870-12-31,(p_year),(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,.,.,.,.,NaN,NaN
2,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1871-01-01,1871-12-31,(p_year),(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,.,.,.,.,NaN,NaN
3,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1872-01-01,1872-12-31,(p_year),(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,.,.,.,.,NaN,NaN
4,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1873-01-01,1873-12-31,(p_year),(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,.,.,.,.,NaN,NaN

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17686 entries, 0 to 17685
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   obsid               17686 non-null  object
 1   leadid              17686 non-null  object
 2   ccode               17686 non-null  int64
 3   idacr               17686 non-null  object
 4   leader              17686 non-null  object
 5   startdate           17686 non-null  object
 6   enddate             17686 non-null  object
 7   entry               17686 non-null  object
 8   exit                17686 non-null  object
 9   exitcode            17686 non-null  object
 10  prevtimesinoffice   17686 non-null  object
 11  posttenurefate      17686 non-null  object
 12  gender              17686 non-null  object
 13  yrborn              17686 non-null  int64
 14  yrdied              17686 non-null  int64
 15  borndate            12507 non-null  object
 16  deathdate           5924 non-null   object
 17  dbpedia.uri         9134 non-null   object
 18  num.entry           17686 non-null  object
 19  num.exit            17686 non-null  object
 20  num.exitcode        17686 non-null  object
 21  num.posttenurefate  17686 non-null  object
 22  fties               1872 non-null   object
 23  ftcur               1655 non-null   float64
dtypes: float64(1), int64(3), object(20)
memory usage: 3.2+ MB

In [4]:
df2 = df1[df1['idacr'].str.contains('JPN')]
df2.head()

,obsid,leadid,ccode,idacr,leader,startdate,enddate,entry,exit,exitcode,...,yrdied,borndate,deathdate,dbpedia.uri,num.entry,num.exit,num.exitcode,num.posttenurefate,fties,ftcur
15341,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1868-01-03,1868-12-31,Regular,(n_year),.,...,1912,1852-11-03,1912-07-30,http://dbpedia.org/resource/Emperor_Meiji,0,.,.,.,NaN,NaN
15342,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1869-01-01,1869-12-31,(p_year),(n_year),.,...,1912,1852-11-03,1912-07-30,http://dbpedia.org/resource/Emperor_Meiji,.,.,.,.,NaN,NaN
15343,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1870-01-01,1870-12-31,(p_year),(n_year),.,...,1912,1852-11-03,1912-07-30,http://dbpedia.org/resource/Emperor_Meiji,.,.,.,.,NaN,NaN
15344,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1871-01-01,1871-12-31,(p_year),(n_year),.,...,1912,1852-11-03,1912-07-30,http://dbpedia.org/resource/Emperor_Meiji,.,.,.,.,NaN,NaN
15345,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1872-01-01,1872-12-31,(p_year),(n_year),.,...,1912,1852-11-03,1912-07-30,http://dbpedia.org/resource/Emperor_Meiji,.,.,.,.,NaN,NaN

## 国名テーブルを読み込み横連結する

In [5]:
# 国名テーブルの読み込み
df101 = pd.read_excel('country_table.xlsx',sheet_name='table')
df101.head()

,ccode2,ccode3,ncode,jch_country,ch_country,formal_cname
0,AD,AND,20,アンドラ公国,ANDORRA,Principality of Andorra
1,AE,ARE,784,アラブ首長国連邦,UNITED ARAB EMIRATES,NaN
2,AF,AFG,4,アフガニスタン・イスラム国,AFGHANISTAN,Islamic State of Afghanistan
3,AG,ATG,28,アンチグア・バーブーダ,ANTIGUA AND BARBUDA,NaN
4,AI,AIA,660,アンギラ,ANGUILLA,NaN

In [6]:
# 3桁国コードをキーにして横連結する
df3 = pd.merge(df2, df101, left_on='idacr', right_on='ccode3')
df3.head()

,obsid,leadid,ccode,idacr,leader,startdate,enddate,entry,exit,exitcode,...,num.exitcode,num.posttenurefate,fties,ftcur,ccode2,ccode3,ncode,jch_country,ch_country,formal_cname
0,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1868-01-03,1868-12-31,Regular,(n_year),.,...,.,.,NaN,NaN,JP,JPN,392,日本国,JAPAN,NaN
1,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1869-01-01,1869-12-31,(p_year),(n_year),.,...,.,.,NaN,NaN,JP,JPN,392,日本国,JAPAN,NaN
2,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1870-01-01,1870-12-31,(p_year),(n_year),.,...,.,.,NaN,NaN,JP,JPN,392,日本国,JAPAN,NaN
3,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1871-01-01,1871-12-31,(p_year),(n_year),.,...,.,.,NaN,NaN,JP,JPN,392,日本国,JAPAN,NaN
4,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1872-01-01,1872-12-31,(p_year),(n_year),.,...,.,.,NaN,NaN,JP,JPN,392,日本国,JAPAN,NaN