In [1]:
import pandas as pd
import yfinance as yf

In [2]:
df = yf.download("AAPL",
                 start="2011-01-01",
                 end="2021-12-31",
                 progress=False)

In [3]:
print(f"Downloaded {len(df)} rows of data.")
df.head()

Downloaded 2768 rows of data.

                 Open       High        Low      Close  Adj Close     Volume
Date
2011-01-03  11.630000  11.795000  11.601429  11.770357   9.977492  445138400
2011-01-04  11.872857  11.875000  11.719643  11.831786  10.029565  309080800
2011-01-05  11.769643  11.940714  11.767857  11.928571  10.111606  255519600
2011-01-06  11.954286  11.973214  11.889286  11.918929  10.103438  300428800
2011-01-07  11.928214  12.012500  11.853571  12.004286  10.175790  311931200

In [4]:
aapl_data = yf.Ticker("AAPL")

In [5]:
aapl_data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,42628800,0.0,0.0
2024-01-02 00:00:00-05:00,187.149994,188.440002,183.889999,185.639999,82488700,0.0,0.0
2024-01-03 00:00:00-05:00,184.220001,185.880005,183.429993,184.250000,58414500,0.0,0.0
2024-01-04 00:00:00-05:00,182.149994,183.089996,180.880005,181.910004,71983600,0.0,0.0
2024-01-05 00:00:00-05:00,181.990005,182.759995,180.169998,181.179993,62303300,0.0,0.0
2024-01-08 00:00:00-05:00,182.089996,185.600006,181.500000,185.559998,59144500,0.0,0.0
2024-01-09 00:00:00-05:00,183.919998,185.149994,182.729996,185.139999,42841800,0.0,0.0
2024-01-10 00:00:00-05:00,184.350006,186.399994,183.919998,186.190002,46792900,0.0,0.0
2024-01-11 00:00:00-05:00,186.539993,187.050003,183.619995,185.589996,49128400,0.0,0.0
2024-01-12 00:00:00-05:00,186.059998,186.740005,185.190002,185.919998,40444700,0.0,0.0
2024-01-16 00:00:00-05:00,182.160004,184.259995,180.929993,183.630005,65603000,0.0,0.0
2024-01-17 00:00:00-05:00,181.270004,182.929993,180.300003,182.679993,47317400,0.0,0.0
2024-01-18 00:00:00-05:00,186.089996,189.139999,185.830002,188.630005,78005800,0.0,0.0
2024-01-19 00:00:00-05:00,189.330002,191.949997,188.820007,191.559998,68741000,0.0,0.0
2024-01-22 00:00:00-05:00,192.300003,195.330002,192.259995,193.889999,60133900,0.0,0.0
2024-01-23 00:00:00-05:00,195.020004,195.750000,193.830002,195.179993,42355600,0.0,0.0
2024-01-24 00:00:00-05:00,195.419998,196.380005,194.339996,194.500000,53631300,0.0,0.0
2024-01-25 00:00:00-05:00,195.220001,196.270004,193.110001,194.169998,54730800,0.0,0.0