# Polity V （国際政治）データの利用

In [1]:
import pandas as pd
df1=pd.read_excel('p5v2018.xlsx',sheet_name='p5v2018')
df1.head()

,p5,cyear,ccode,scode,country,year,flag,fragment,democ,autoc,...,interim,bmonth,bday,byear,bprec,post,change,d5,sf,regtrans
0,0,7001800,700,AFG,Afghanistan,1800,0,NaN,1,7,...,NaN,1,1,1800,1,-6,88,1,NaN,NaN
1,0,7001801,700,AFG,Afghanistan,1801,0,NaN,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,7001802,700,AFG,Afghanistan,1802,0,NaN,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,7001803,700,AFG,Afghanistan,1803,0,NaN,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,7001804,700,AFG,Afghanistan,1804,0,NaN,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17574 entries, 0 to 17573
Data columns (total 37 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   p5        17574 non-null  int64
 1   cyear     17574 non-null  int64
 2   ccode     17574 non-null  int64
 3   scode     17574 non-null  object
 4   country   17574 non-null  object
 5   year      17574 non-null  int64
 6   flag      17574 non-null  int64
 7   fragment  3446 non-null   float64
 8   democ     17574 non-null  int64
 9   autoc     17574 non-null  int64
 10  polity    17574 non-null  int64
 11  polity2   17311 non-null  float64
 12  durable   16315 non-null  object
 13  xrreg     17574 non-null  int64
 14  xrcomp    17574 non-null  int64
 15  xropen    17574 non-null  int64
 16  xconst    17574 non-null  int64
 17  parreg    17574 non-null  int64
 18  parcomp   17574 non-null  int64
 19  exrec     17391 non-null  float64
 20  exconst   17574 non-null  int64
 21  polcomp   17448 non-null  float64
 22  prior     1608 non-null   object
 23  emonth    1677 non-null   object
 24  eday      1677 non-null   object
 25  eyear     1677 non-null   object
 26  eprec     1680 non-null   object
 27  interim   1511 non-null   object
 28  bmonth    1517 non-null   object
 29  bday      1517 non-null   object
 30  byear     1517 non-null   object
 31  bprec     1516 non-null   object
 32  post      1501 non-null   object
 33  change    2442 non-null   object
 34  d5        1525 non-null   object
 35  sf        529 non-null    object
 36  regtrans  2449 non-null   object
dtypes: float64(4), int64(15), object(18)
memory usage: 5.0+ MB