# yfinanceライブラリの改訂に関するデモ

In [2]:
import pandas as pd
import yfinance as yf

# Retrieve financial data
data = yf.download(['AAPL', 'TSLA'], start="2024-01-01", end="2024-12-31")
# Initial view with Multi-Index
data.head()

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker            AAPL        TSLA        AAPL        TSLA        AAPL
Date
2024-01-02  184.532089  248.419998  187.315382  251.250000  182.792533
2024-01-03  183.150391  238.449997  184.770668  245.679993  182.335277
2024-01-04  180.824341  237.929993  181.997291  242.699997  179.800489
2024-01-05  180.098709  237.490005  181.669281  240.119995  179.094742
2024-01-08  184.452560  240.449997  184.492330  241.250000  180.416793

Price                         Open                Volume
Ticker            TSLA        AAPL        TSLA      AAPL       TSLA
Date
2024-01-02  244.410004  186.033072  250.080002  82488700  104654200
2024-01-03  236.320007  183.120571  244.979996  58414500  121082600
2024-01-04  237.729996  181.062899  239.250000  71983600  102629300
2024-01-05  234.899994  180.903888  236.860001  62303300   92379400
2024-01-08  235.300003  181.003268  236.139999  59144500   85166600

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2024-01-02 to 2024-12-30
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   251 non-null    float64
 1   (Close, TSLA)   251 non-null    float64
 2   (High, AAPL)    251 non-null    float64
 3   (High, TSLA)    251 non-null    float64
 4   (Low, AAPL)     251 non-null    float64
 5   (Low, TSLA)     251 non-null    float64
 6   (Open, AAPL)    251 non-null    float64
 7   (Open, TSLA)    251 non-null    float64
 8   (Volume, AAPL)  251 non-null    int64
 9   (Volume, TSLA)  251 non-null    int64
dtypes: float64(8), int64(2)
memory usage: 21.6 KB

In [4]:
# Flatten columns using xs
apple_data = data.xs('AAPL', axis=1, level=1)  # Retrieves only Apple data
apple_data.head()

Price            Close        High         Low        Open    Volume
Date
2024-01-02  184.532089  187.315382  182.792533  186.033072  82488700
2024-01-03  183.150391  184.770668  182.335277  183.120571  58414500
2024-01-04  180.824341  181.997291  179.800489  181.062899  71983600
2024-01-05  180.098709  181.669281  179.094742  180.903888  62303300
2024-01-08  184.452560  184.492330  180.416793  181.003268  59144500

In [5]:
apple_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2024-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   251 non-null    float64
 1   High    251 non-null    float64
 2   Low     251 non-null    float64
 3   Open    251 non-null    float64
 4   Volume  251 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.8 KB

In [6]:
# Data with automatic adjustment enabled
adjusted_data = yf.download('AAPL', start="2024-01-01", end="2024-12-31")
print(adjusted_data.head())

# Data without automatic adjustment
raw_data = yf.download('AAPL', start="2024-01-01", end="2024-12-31", auto_adjust=False)
print(raw_data.head())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  184.532089  187.315382  182.792533  186.033072  82488700
2024-01-03  183.150391  184.770668  182.335277  183.120571  58414500
2024-01-04  180.824341  181.997291  179.800489  181.062899  71983600
2024-01-05  180.098709  181.669281  179.094742  180.903888  62303300
2024-01-08  184.452560  184.492330  180.416793  181.003268  59144500
Price        Adj Close       Close        High         Low        Open  \
Ticker            AAPL        AAPL        AAPL        AAPL        AAPL
Date
2024-01-02  184.532089  185.639999  188.440002  183.889999  187.149994
2024-01-03  183.150391  184.250000  185.880005  183.429993  184.220001
2024-01-04  180.824341  181.910004  183.089996  180.880005  182.149994
2024-01-05  180.098709  181.179993  182.759995  180.169998  181.990005
2024-01-08  184.452560  185.559998  185.600006  181.500000  182.089996

Price         Volume
Ticker          AAPL
Date
2024-01-02  82488700
2024-01-03  58414500
2024-01-04  71983600
2024-01-05  62303300
2024-01-08  59144500

In [7]:
# Data without automatic adjustment
raw_data = yf.download('AAPL', start="2024-01-01", end="2024-12-31", auto_adjust=False)
raw_data.head()

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2024-01-02,184.532089,185.639999,188.440002,183.889999,187.149994,82488700
2024-01-03,183.150391,184.250000,185.880005,183.429993,184.220001,58414500
2024-01-04,180.824341,181.910004,183.089996,180.880005,182.149994,71983600
2024-01-05,180.098709,181.179993,182.759995,180.169998,181.990005,62303300
2024-01-08,184.452560,185.559998,185.600006,181.500000,182.089996,59144500

In [8]:
factor = adjusted_data['Close'] / raw_data['Close']
factor.head()

Ticker          AAPL
Date
2024-01-02  0.994032
2024-01-03  0.994032
2024-01-04  0.994032
2024-01-05  0.994032
2024-01-08  0.994032